.bg-light-purple {
  background-color: var(--light-purple-color);
}
.calculator {
  width: 80%;
  height: 40%;
  padding: 0.5rem;
  background-color: black;
}
.display {
  height: 12%;
}
.expression,
.result {
  height: 50%;
  text-align: end;
  font-family: var(--secondary-font);
}
.expression {
  color: var(--orange-color);
}
.result {
  font-size: 2rem;
  color: white;
}
.buttons-grid {
  height: 88%;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: var(--dark-gray-color);
  color: white;
  transition: background 0.2s;
}
button:hover {
  background: var(--light-gray-color);
}
.span-2 {
  grid-column: span 2;
}
.clear {
  background: var(--red-color);
}

.equal {
  background: var(--blue-color);
  grid-row: span 2;
}
span {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
span a {
  text-decoration: none;
  color: navy;
}
@media screen and (min-width: 992px) {
  .calculator {
    width: 25%;
    height: 60%;
  }
  .expression {
    font-size: 1.8rem;
  }
  .result {
    font-size: 2.2rem;
  }
  button {
    font-size: 1.6rem;
  }
}
